version: "3.7"

services:
  # crypto-postgres:
  #   image: postgres:13
  #   container_name: postgres
  #   restart: always
  #   environment:
  #     - POSTGRES_DB=${POSTGRES_DB}
  #     - POSTGRES_USER=${POSTGRES_USER}
  #     - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
  #   ports:
  #     - 5432:5432
  #   volumes:
  #     - "./postgres:/var/lib/postgresql/data:rw"

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:latest
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PG_ADMIN_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PG_ADMIN_PASSWORD}
    ports:
      - 8080:80
    volumes:
      - ./pgadmin:/var/lib/pgadmin

  # metabase:
  #   container_name: metabase
  #   image: metabase/metabase:latest
  #   restart: always
  #   ports: 
  #     - 3000:3000
  #   volumes:
  #     - ./metabase:/metabase:rw
  #   # environment:
  #   #   - MB_DB_TYPE=postgres
  #   #   - MB_DB_DBNAME=${POSTGRES_DB}
  #   #   - MB_DB_PORT=5432
  #   #   - MB_DB_USER=${POSTGRES_USER}
  #   #   - MB_DB_PASS=${POSTGRES_PASSWORD}
  #   #   - MB_DB_HOST=localhost
  #   depends_on:
  #     - postgres