configparser==5.2.0
google-api-core==2.7.1
google-auth==2.6.2
google-cloud-secret-manager==2.9.2
numpy==1.22.2
pandas==1.4.1
python-dateutil==2.8.2
PyYAML==6.0
requests==2.27.1
scipy==1.8.0
SQLAlchemy==1.4.32
psycopg2==2.9.3
psycopg2-binary==2.9.3
Flask==2.0.3
gunicorn==20.1.0
