appnope==0.1.2
arch==5.1.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astropy==5.0.2
asttokens==2.0.5
attrs==21.4.0
backcall==0.2.0
black==22.1.0
bleach==4.1.0
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.3
configparser==5.2.0
cvxpy==1.2.0
cycler==0.11.0
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
ecos==2.0.10
entrypoints==0.4
executing==0.8.2
Flask==2.0.3
fonttools==4.30.0
google-api-core==2.7.1
google-auth==2.6.2
google-cloud-core==2.2.3
google-cloud-secret-manager==2.9.2
google-cloud-storage==2.2.1
google-crc32c==1.3.0
google-resumable-media==2.3.2
googleapis-common-protos==1.56.0
greenlet==1.1.2
grpc-google-iam-v1==0.12.3
grpcio==1.44.0
grpcio-status==1.44.0
gunicorn==20.1.0
idna==3.3
ipykernel==6.9.0
ipython==8.0.1
ipython-genutils==0.2.0
itsdangerous==2.1.1
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.4.0
jupyter-client==7.1.2
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
kiwisolver==1.3.2
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mistune==0.8.4
mypy-extensions==0.4.3
nbclient==0.5.10
nbconvert==6.4.2
nbformat==5.1.3
nest-asyncio==1.5.4
networkx==2.7.1
notebook==6.4.8
numpy==1.22.2
osqp==0.6.2.post5
packaging==21.3
pandas==1.4.1
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
patsy==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
platformdirs==2.5.0
prometheus-client==0.13.1
prompt-toolkit==3.0.28
property-cached==1.6.4
proto-plus==1.20.3
protobuf==3.19.4
psycopg2==2.9.3
psycopg2-binary==2.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyerfa==2.0.0.1
Pygments==2.11.2
pyparsing==3.0.7
pyportfolioopt==1.5.1
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
pyzmq==22.3.0
qdldl==0.1.5.post0
requests==2.27.1
Riskfolio-Lib==3.0.0
rsa==4.8
scikit-learn==1.0.2
scipy==1.8.0
scs==3.2.0
Send2Trash==1.8.0
six==1.16.0
SQLAlchemy==1.4.32
stack-data==0.1.4
statsmodels==0.13.2
terminado==0.13.1
testpath==0.5.0
threadpoolctl==3.1.0
tomli==2.0.1
tornado==6.1
traitlets==5.1.1
typing-extensions==4.0.1
urllib3==1.26.8
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.3
XlsxWriter==3.0.3
